<div class='security'>
    <div>
        Change username
    </div>
    <div>
        Change password
    </div>
    <div>
        Change email
    </div>
</div>
<div class='admin'>
    <div>
        Create New User
    </div>
    <div>
        Create New Admin
    </div>
</div>