<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1'>
    <link rel='stylesheet' type='text/css' href='/css/reset.css'>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <title>Munch</title>
    <style type='text/css'>
        #icon {
            margin: 20px;
        }
    </style>
</head>
<body>
    <header class='header'> title </header>
    <section class='wrapper flex center'>
        <div class='container flex column'>
            <div id='icon'>icon</div>
            <div><p>
                View your dining data from here
            </p></div>
            <a href='/login'><button>
                Login
            </button></a>
        </div>
    </section>
</body>
</html>