<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1'>
  <link rel='stylesheet' type='text/css' href='/css/reset.css'>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
  <link rel='stylesheet' type='text/css' href='/css/landing.css'>
  <title>Munch</title>
</head>
<body>
  <div class='root'>
    <div class='hero'>
      <a id='login' href='/login'>Login</a>
    </div>
  </div>
</body>
</html>
