<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1'>
    <link rel='stylesheet' type='text/css' href='/css/reset.css'>
    <title> Login </title>
</head>
<body>
    <form id='login' method='POST'>
        <input type='text' name='username'>
        <input type='password' name='password'>
        <input type='submit'>
    </form>

    <script type='text/javascript'>
        const $login = document.getElementById('login');

        $login.addEventListener('submit', async (e) => {
            e.preventDefault();

            const response = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({
                    username: $login.username.value,
                    password: $login.password.value
                }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-HTTP-Method-Override': 'POST'
                },
                follow: 0,
                credentials: 'same-origin'
            });

            console.log(response)

            if (response.status == 278) {
                window.location.assign((await response.json()).path)
            }
        });
    </script>
</body>
</html>