html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
	line-height: 1;
	color: black;
	background: white;
}

:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}