.header {
	position: fixed;
	top: 0; left: 0;
	padding: 10px;
	width: calc(100% - 2 * 10px);
}

.wrapper {
	height: 100%;
	width: 100%;
}

.flex {
	display: flex;
}

.flex.column {
	flex-flow: column wrap;
	align-items: center;
}

.flex.center {
	align-items: center;
	justify-content: center;
}

@media all and (min-width: 600px) {
	.header {
		padding: 10px 7.5%;
		width: calc(100% - 2 * 7.5%);
	}
}